:root {
    --main-color: rgb(29, 179, 166);
    --main-primary-color: #f8f9fa;
    --main-secondary-color: #313233;
}
*{
    font-family: sans-serif;
}

body {
    background-color: var(--main-secondary-color);
}

section {
    background-image: url('assets/game-pass-theme.webp');
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index:9999;
}

header .navbar-expand a {
    transition: 1s;
}

header .navbar-expand a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(29, 179, 166);
    text-decoration-thickness: 3px;
    color: rgb(29, 179, 166);
}

/* section */
section .row {
    margin-left: 50px;
    text-wrap: wrap;
}

section .items {
    background-color: rgb(29, 179, 166);
    border-radius: 8px;
    border: 0px;
    box-shadow: 0px 0px 15px 1px rgb(29, 179, 166);
}

section .items img {
    border-radius: 5px
}

section .items p {
    color: white;
}

section .items a {
    text-decoration: none;
}

footer {
    background-color: white;
    color: White;
    background-color: black;
}

footer .container {
    margin: auto;
    width: 100rem;
}

footer .info b {
    font-size: 25px;
}

footer .info p {
    font-size: 15px;
    font-style: italic
}

footer .col b {
    font-size: 15px;
}

footer .row {
    margin-left: 40px
}

footer .col img {
    background-color: white;
    border-radius: 100%;
    padding: 6px;
}

/**Login Section*/
.login {
    margin-top: 5rem;
    margin-bottom: 33rem;
}

.login .row {}

.login h5 {
    color: var(--main-color)
}

.login small {
    color: var(--main-secondary-color);
}

.login .section-one {
    background-color: var(--main-primary-color);
}

.login input {
    margin-bottom: 15px;
    border-radius: 2px;
    border-color: var(--main-color);
    border-width: 2px;
}

.login .forgot-password {
    margin-top: 15px;
}

.login .submit {
    margin-top: 20px;
}

.login .submit button {
    border-radius: 15px;
    width: 120px;
    background-color: var(--main-color);
    border: 0px;
}

.login .info {
    margin-top: 20px;

}

.login .section-one {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.login .section-two {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('assets/wp8830688.jpg');
    background-position: 14cm;
    background-size: cover;
}

.login .section-one, .section-two {
    box-shadow: 1px 1px 15px 2px var(--main-primary-color);
}

#profile {
    background-color: aliceblue;
}

.purchase {
    display: flex;
    background-color: ;
}

.all-purchase {
    display: ;
    background-color: green;
}

.form {
    display: grid;
    justify-content: center;
    margin: 40px;
    background-color: white;
    width: fit-content;
}

.bg-info {}

.purchase-section-one {
    display: flex;
    color: white;
    justify-content: center;
    gap: 15px;

}

.purchase-section-one>div {
    width: 25rem;


}


.purchase-content-description {
    display: grid;
    gap: 20px;
}

.purchase-description-main {}

.purchase-social-media {}

.purchase-content-form {
    display: grid;
    justify-content: center;
}

.purchase-content-form img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
position: relative;
    left: 5rem;
    z-index:2;
}

.purchase-submit button {
    width: 20rem;
    border: 0;
    height: 3rem;
    background-color:var(--main-color) ;

}

.purchase-input div {
    margin: 10px;
}

.purchase-input input {
    width: 20rem;
    height: 3rem;
}

.purchase-name input {
    text-align: center;
    cursor:pointer;
}

.purchase-type input {
    text-align: center;
    cursor:pointer;
}

.purchase-price input {
    text-align: center;
    cursor:pointer;
    color:white;
    background-color: rgb(74, 163, 74);
    border:0;
    border-radius:10px;
}
.purchase-price b{
    position: absolute;
    z-index: 999;
    color:white;
    left:65.7rem;
    top:28rem;
    font-size: 16px;
}

.purchase-quantity input {
    text-align:start;

}
.purchase-info{
    height: 10px;
}

.purchase-submit img{

width: 20px;
height: 20px;
text-align:center;
background-color: red;
position:absolute;
left:100rem;


}
