:root {
    --main-color: rgb(29, 179, 166);
    --main-primary-color: #f8f9fa;
    --main-secondary-color: #313233;
}

* {
    font-family: sans-serif;
}

body {
    background-color: var(--main-secondary-color);
}

section {
    background-image: url('assets/wallpaper.jpg');
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header .navbar-expand a {
    transition: 1s;
}

header .navbar-expand a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(29, 179, 166);
    text-decoration-thickness: 3px;
    color: rgb(29, 179, 166);
}

/* section */
section .row {
    margin-left: 50px;
    text-wrap: wrap;
}

section .items {
    background-color: rgba(202, 197, 197, 0.7);
    backdrop-filter: blur;
    border-radius: 8px;
    border: 0px;
    /* box-shadow: 0px 0px 15px 1px rgb(226, 236, 236); */


}

section .items img {
    border-radius: 5px
}

section .items a p {
    color: white;




}

section .items a {
    text-decoration: none;

}

footer {
    background-color: white;
    color: White;
    background-color: black;
}

footer .container {
    margin: auto;
    width: 100rem;
}

footer .info b {
    font-size: 25px;
}

footer .info p {
    font-size: 15px;
    font-style: italic
}

footer .col b {
    font-size: 15px;
}

footer .row {
    margin-left: 40px
}

footer .col img {
    background-color: white;
    border-radius: 100%;
    padding: 6px;
}

/**Login Section*/
.login {
    margin-top: 5rem;
    margin-bottom: 33rem;
}

.login .row {}

.login h5 {
    color: var(--main-color)
}

.login small {
    color: var(--main-secondary-color);
}

.login .section-one {
    background-color: var(--main-primary-color);
}

.login input {
    margin-bottom: 15px;
    border-radius: 2px;
    border-color: var(--main-color);
    border-width: 2px;
}

.login .forgot-password {
    margin-top: 15px;
}

.login .submit {
    margin-top: 20px;
}

.login .submit button {
    border-radius: 15px;
    width: 120px;
    background-color: var(--main-color);
    border: 0px;
}

.login .info {
    margin-top: 20px;

}

.login .section-one {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.login .section-two {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('assets/wp8830688.jpg');
    background-position: 14cm;
    background-size: cover;
}

.login .section-one, .section-two {
    box-shadow: 1px 1px 15px 2px var(--main-primary-color);
}

#profile {
    background-color: aliceblue;
}

.purchase {
    display: flex;
    background-color: ;
}

.all-purchase {
    display: ;
    background-color: green;
}

.form {
    display: grid;
    justify-content: center;
    margin: 40px;
    background-color: white;
    width: fit-content;
}

.bg-info {}

.purchase-section-one {
    display: flex;
    color: white;
    justify-content: center;
    gap: 2px;

}

.purchase-section-one>div {
    width: 25rem;
    text-wrap: wrap;


}


.purchase-content-description {
    display: grid;
    gap: 20px;
}

.purchase-description-main {
    background-color: white;
    color: gray;
    min-width: 55%;
    text-overflow: hidden;
    word-wrap: break-word;
    text-align: center;
    padding: 20px;
}

.purchase-social-media {}

.purchase-content-form {
    display: grid;
    justify-content: center;
}

.purchase-content-form img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;
    left: 5rem;
    z-index: 2;
}

.purchase-submit button {
    width: 20rem;
    border: 0;
    height: 3rem;
    background-color: var(--main-color);

}

.purchase-input div {
    margin: 10px;
}

.purchase-input input {
    width: 20rem;
    height: 3rem;
    border: 0;
    border-radius: 10px;
}

.purchase-name input {
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

.purchase-type input {
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

.purchase-price input {
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: rgb(74, 163, 74);
    border: 0;
    border-radius: 10px;
}

.purchase-price b {
    position: absolute;
    z-index: 999;
    color: white;
    left: 58.5rem;
    top: 28rem;
    font-size: 16px;
}

.purchase-quantity input {
    text-align: start;

}

.purchase-info {
    height: 10px;
}

.purchase-submit img {

    width: 20px;
    height: 20px;
    text-align: center;
    background-color: red;
    position: absolute;
    left: 100rem;


}

.home {
    display: grid;
    position: relative;
    background-image: url('assets/wallpaper.jpg');

}

.home-section-one {
    display: grid;
    margin-top: 2rem;

}

.home-form {
    max-width: 100%;
}

.home-search {
    display: flex;
    justify-content: center;
    max-width: 50rem;
    margin: auto;

}

.home-search input {
    width: 50rem;
    height: 40px;
    border: 0;
    max-width: 50rem;
}


.home-search button {
    background-color: gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 41px;
    border: 0;
}

.home-category-new-product {
    max-width: 100%;
    text-align: center;
    height: 0px;
    margin-top: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}


.recently-added {
    display: grid;
    justify-content: center;
    margin: auto;
}

.recently-added-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 64%;
    margin: auto;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
   



}

.item-one {
    padding: 10px;
    background-color: rgba(202, 197, 197, 0.7);
    backdrop-filter: blur;
    height: 15rem;
    border-radius: 10px;

}

.item-one img {
    border-radius: 5px;
}

.item-name {
    width: 100%;
    text-align: center;
}

.item-one b {
    margin-top: 5px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.home-section-two {
    display: grid;
}

.new-items {
    display: grid;

}


.home-section-two {
    display: grid;
    justify-content: center;
}

.new-items-title {
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.new-items-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 64%;
    gap: 20px;
    margin:auto;
    justify-content: center;


}
.new-items-content {
    display: grid;

}


.text-white {}

.new-items-content {}

.new-item-one {
    padding:10px;
    background-color: rgb(189, 187, 187,0.8);
    height: 15rem;
    border-radius: 15px;
    backdrop-filter: blur;
}
.new-item-one img{
    border-radius: 10px;
}

.item-name {}
